@charset "utf-8";

/* HTML5 Boilerplate  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em, img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;padding:0;border:0 none;font-size:100%;font:inherit;vertical-align:baseline;color:#444;text-indent:0;;outline:0;list-style:none;line-height:1;font-size:100%;border-collapse:collapse;border-spacing:0;quotes:none;background:transparent;vertical-align:baseline;font-weight:normal;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

a {text-decoration: none;}

.fixedRatioBox,.goldenBox,.goldenBox_flexi,.goldenBox_Vertical,.goldenBox_Vertical_flexi{position:relative;display:inline-block;}
.fixedRatioBox>.dummy,.goldenBox>.dummy,.goldenBox_flexi>.dummy,.goldenBox_Vertical>.dummy,.goldenBox_Vertical_flexi>.dummy{float:left;width:0;height:0;}
.goldenBox>div.dummy,.goldenBox_flexi>div.dummy{margin-top:61.80339887498948482045868343656381177203091798057628621354%;}
.goldenBox_Vertical>div.dummy,.goldenBox_Vertical_flexi>div.dummy{margin-top:161.80339887498948482045868343656381177203091798057628621354%;}
.goldenBox>div.content,.goldenBox>div:not(.dummy),.goldenBox_Vertical>div.content,.goldenBox_Vertical>div:not(.dummy){position:absolute;top:0;right:0;bottom:0;left:0;}
.goldenBox>div.overflow_content,.goldenBox_Vertical>div.overflow_content{position:absolute;top:0;left:0;}
.button_box{
    -webkit-box-shadow: rgba(0, 0, 0, .4) 0 1px 3px;
    -o-box-shadow: rgba(0, 0, 0, .4) 0 1px 3px;
    -ms-box-shadow: rgba(0, 0, 0, .4) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, .4) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, .4) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, .4) 0 1px 6px url(0/IE9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

div.github_ribbon {
    background-color:#a00;position:absolute;width:175px;right:-42px;top:15px;
    transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);
    box-shadow:0 0 1em #888;-webkit-box-shadow:0 0 1em #888;-moz-box-shadow:0 0 1em #888;-o-box-shadow:0 0 1em #888;-ms-box-shadow:0 0 1em #888;
}
div.github_ribbon a{border:1px solid #faa;color:#fff;display:block;font:bold 81.25% 'Helvetiva Neue',Helvetica,Arial,sans-serif;margin:0.05em 0;padding:0.5em 3.5em;text-align:center;text-decoration:none;text-shadow:0 0 0.5em #444;}

#myheader {
    height: 69px;
    z-index: 999;
}

.statusbar {
    height: 100%;
    margin:0;
    padding:0;
    color: white;
    z-index:99;
}

.statusbar .inner {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 3px;
}
.statusbar #title_wrapper {
    display: inline-block;
    padding: 9px;
    height: 100%;
    box-shadow: inset 0 -3px 3px 0 rgba(255, 255, 255, 0.15);
}
.statusbar #title {
  text-align: center;
  height: 100%;
  background: #b4b4b4;
  background: -moz-linear-gradient(top,  #b4b4b4 0%, #949494 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4b4b4), color-stop(100%,#949494));
  background: -webkit-linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  background: -o-linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  background: -ms-linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  background: linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeaeb', endColorstr='#949494', GradientType=0)";
  margin: 0 auto;
}
.statusbar.connected  #title {
  background: #77cd00;
  background: -moz-linear-gradient(top,  #77cd00 0%, #4db800 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77cd00), color-stop(100%,#4db800));
  background: -webkit-linear-gradient(top,  #77cd00 0%,#4db800 100%);
  background: -o-linear-gradient(top,  #77cd00 0%,#4db800 100%);
  background: -ms-linear-gradient(top,  #77cd00 0%,#4db800 100%);
  background: linear-gradient(top,  #77cd00 0%,#4db800 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#77cd00', endColorstr='#4db800', GradientType=0)";
}
.statusbar.connecting #title {
  background: #ee9300;
  background: -moz-linear-gradient(top,  #ee9300 0%, #e36700 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9300), color-stop(100%,#e36700));
  background: -webkit-linear-gradient(top,  #ee9300 0%,#e36700 100%);
  background: -o-linear-gradient(top,  #ee9300 0%,#e36700 100%);
  background: -ms-linear-gradient(top,  #ee9300 0%,#e36700 100%);
  background: linear-gradient(top,  #ee9300 0%,#e36700 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee9300', endColorstr='#e36700', GradientType=0)";
}
.statusbar.disconnected #title {
  background: #d30202;
  background: -moz-linear-gradient(top,  #d30202 0%, #b80000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d30202), color-stop(100%,#b80000));
  background: -webkit-linear-gradient(top,  #d30202 0%,#b80000 100%);
  background: -o-linear-gradient(top,  #d30202 0%,#b80000 100%);
  background: -ms-linear-gradient(top,  #d30202 0%,#b80000 100%);
  background: linear-gradient(top,  #d30202 0%,#b80000 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d30202', endColorstr='#b80000', GradientType=0)";
}
.statusbar .statusbar_wrap #title {
    color: transparent;
    background-clip: text;
    -khtml-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
}

.statusbar .statusbar_wrap {
  width: 100%;
  height: 100%;
  background: #b4b4b4;
  background: -moz-linear-gradient(top,  #b4b4b4 0%, #949494 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4b4b4), color-stop(100%,#949494));
  background: -webkit-linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  background: -o-linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  background: -ms-linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  background: linear-gradient(top,  #b4b4b4 0%,#949494 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeaeb', endColorstr='#949494', GradientType=0)";
  box-shadow: inset 0 -3px 3px 0 rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}
.statusbar.connected  .statusbar_wrap {
  background: #77cd00;
  background: -moz-linear-gradient(top,  #77cd00 0%, #4db800 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77cd00), color-stop(100%,#4db800));
  background: -webkit-linear-gradient(top,  #77cd00 0%,#4db800 100%);
  background: -o-linear-gradient(top,  #77cd00 0%,#4db800 100%);
  background: -ms-linear-gradient(top,  #77cd00 0%,#4db800 100%);
  background: linear-gradient(top,  #77cd00 0%,#4db800 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#77cd00', endColorstr='#4db800', GradientType=0)";
}
.statusbar.connecting .statusbar_wrap {
  background: #ee9300;
  background: -moz-linear-gradient(top,  #ee9300 0%, #e36700 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee9300), color-stop(100%,#e36700));
  background: -webkit-linear-gradient(top,  #ee9300 0%,#e36700 100%);
  background: -o-linear-gradient(top,  #ee9300 0%,#e36700 100%);
  background: -ms-linear-gradient(top,  #ee9300 0%,#e36700 100%);
  background: linear-gradient(top,  #ee9300 0%,#e36700 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee9300', endColorstr='#e36700', GradientType=0)";
}
.statusbar.disconnected .statusbar_wrap {
  background: #d30202;
  background: -moz-linear-gradient(top,  #d30202 0%, #b80000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d30202), color-stop(100%,#b80000));
  background: -webkit-linear-gradient(top,  #d30202 0%,#b80000 100%);
  background: -o-linear-gradient(top,  #d30202 0%,#b80000 100%);
  background: -ms-linear-gradient(top,  #d30202 0%,#b80000 100%);
  background: linear-gradient(top,  #d30202 0%,#b80000 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d30202', endColorstr='#b80000', GradientType=0)";
}

.statusbar .statusbar_wrap>* {
    display: inline-block;
}

.statusbar p {
  margin: 0 0 10px 0;
  opacity: 0.7;
}
.statusbar h1 {
  margin: 0 0 0 -3px;
  font-size: 48px;
  letter-spacing: -1px;
}

.sessionDetails {}

#ui_disabler {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    outline: none;
    background: url(http://s.abhishekmunie.com/img/overlays/c9bg-transpanel.png) repeat 0 0;
    position: absolute;
    display: none;
}

body.disable #ui_disabler {
    overflow: hidden;
    display: block;
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 69px 33px 50px 33px;
    z-index: -1;
}
#main_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.top_dialog {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    display: none;
    z-index: 999;
    display: none;
    height: auto;
}
.top_dialog.enable {
    display: block;
}
.top_dialog .top_dialog_wrappqer {
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    padding: 30px 15px;
    box-shadow: 0 0 12px #3079ED;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 12px #3079ED;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-box-shadow: 0 0 12px #3079ed;
    -moz-border-radius: 0 0 5px 5px;
    -o-box-shadow: 0 0 12px #3079ed;
    -o-border-radius: 0 0 5px 5px;
    -ms-box-shadow: 0 0 12px #3079ed;
    -ms-border-radius: 0 0 5px 5px;
}

#msgtext {
    width: 91%;
    min-height: 69px;
    display: block;
}

#message_box_container {
    
}
#message_box_container .message_box {
    
}

.messageBox {
    width: 33.33%;
    min-width: 450px;
    height:100%;
}
.messageBox .tab{

}
.messageBox .message-container {

}
.messageBox .message-container .message {

}


.topbar-inner,.topbar .fill{background-color:#222;background-color:#222222;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));background-image:-moz-linear-gradient(top, #333333, #222222);background-image:-ms-linear-gradient(top, #333333, #222222);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));background-image:-webkit-linear-gradient(top, #333333, #222222);background-image:-o-linear-gradient(top, #333333, #222222);background-image:linear-gradient(top, #333333, #222222);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);}

#MyFooter {
    bottom: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50px;
}
.Bar{
    background-color:#111;
    background:-webkit-gradient(linear,left top,left bottom,from(#333),to(#111)),url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%;
    background:-moz-linear-gradient(top,#333,#111);
    background:transparent\9;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111');
    background-attachment:scroll;
    background-clip:border-box;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));
    background:-o-linear-gradient(top,#333,#111);
    background:linear-gradient(top,#333,#111);
    background-origin:padding-box;
}
.ie .Bar{background-color:black;}

#MyFooterBox {
    margin: 0 auto;
    display: inline-block;
    padding: 2px 15px;
    height: 100%;
    color:#EEEEEE;
    
}

.sponsor_img {
    height: 45px;
}

.Shadow{
    box-shadow:0 1px 3px rgba(0,0,0,0.3) inset,0 1px 0 rgba(0,0,0,0.2),0 0 21px rgba(0,0,0,1);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.3) inset,0 1px 0 rgba(0,0,0,0.2),0 0 21px rgba(0,0,0,1);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3) inset, 0 1px 0 rgba(0,0,0,0.2),0 0 21px rgba(0,0,0,1);
    -o-box-shadow:0 1px 3px rgba(0,0,0,0.3) inset,0 1px 0 rgba(0,0,0,0.2),0 0 21px rgba(0,0,0,1);
    -khtml-box-shadow:0 1px 3px rgba(0,0,0,0.3) inset, 0 1px 0 rgba(0,0,0,0.2),0 0 21px rgba(0,0,0,1);
    -ms-box-shadow:0 1px 3px rgba(0,0,0,0.3) inset,0 1px 0 rgba(0,0,0,0.2),0 0 21px rgba(0,0,0,1);
}